footer {
  position: fixed;
  bottom: 0px;
}

.navbar {
  width: 100vw;
  justify-content: center;
}

.siteBG {
  background-image: url("https://i.kinja-img.com/gawker-media/image/upload/s--pIYDv5R9--/c_fill,fl_progressive,g_center,h_900,q_80,w_1600/17kdjxvdqvygyjpg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  width: 100vw;
  height: 100vh;
}

.transaction-container {
  background-color: lightslategray;
  border-style: solid;
  border-radius: 10%;
  max-width: 200px;
}

.transaction-list {
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-items: center;

}